.footer {
  background-color: var(--color-home);
  padding: 10px 0;
}

.footer_heading {
  text-align: center;
  color: var(--color-text-title);
  letter-spacing: 20px;
  font-size: larger;
}

.footer small {
  display: block;
  text-align: center;
  font-style: italic;
  color: var(--color-text-title);
}

.con_social {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.con_social i {
  font-size: 40px;
  color: var(--color-text-title);
}
.github,
.email,
.linkedin {
  padding: 0 15px;
  box-shadow: 0 0 40px 40px var(--color-home) inset, 0 0 0 0 var(--color-home);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  text-decoration: none;
}

.github:hover,
.email:hover,
.linkedin:hover {
  box-shadow: 0 0 60px 0 hsl(203, 92%, 65%) inset,
    0 0 20px 4px hsl(203, 92%, 65%);
  z-index: 1;
  background-color: var(--color-main-background);
  border-radius: 50%;
  cursor: pointer;
}
