/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropbtn_sub {
    background-color: #aa8e04;
    color: white;
    padding: 16px;
    font-size: 16px;
    width: 200px;
    height: 50px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown,
  .dropdown_sub {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown_content,
  .dropdown_content_sub {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown_content_sub {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 200px;
    margin-top: -50px;
  }
  
  /* Links inside the dropdown */
  .dropdown_content a,
  .dropdown_content_sub a  {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown_content a:hover,
  .dropdown_content_sub a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown_content,
  .dropdown_sub:hover .dropdown_content_sub  {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn,
  .dropdown_sub:hover .dropbtn_sub {background-color: #3e8e41;}


  /* /////////////////////////////////////// */

  .nav_background{
    margin: 0 50px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    gap: 10px 50px;
  }

  .link_head{
    position: relative;
    display: inline-block;
  }

  .link_body{
    display: none;
    position: absolute;
    background-color:  blanchedalmond;
    padding: 0 10px;
  }

  .link_head:hover .link_body{
    display: block;
  }

  .link_head:hover{
    background-color: #04AA6D;
  }