/* >>> nav-grid ///////////////////////////////////////////////////////////// */
.grid_container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  grid-template-areas: "logo title";
}

.area_logo {
  grid-area: logo;
  background-color: var(--color-main-header);
  display: flex;
  flex-wrap: wrap;
  gap: 5px 5px;
  justify-content: center;
  align-items: center;
}

.area_title {
  grid-area: title;
  text-align: center;
  padding: 30px 20% 10px 0;
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
}

.title_background {
  z-index: -1;
}

.grid_container_sticky {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  grid-template-areas:
    "login pages"
    "links links";
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.area_login {
  grid-area: login;
  background-color: var(--color-main-header);
}

.area_pages {
  grid-area: pages;
  background-color: var(--color-home);
  display: flex;
  justify-content: space-around;
}

.area_links {
  grid-area: links;
  background-color: var(--color-main);
  /* display: none; */
}

/* .grid_container_sticky:hover .area_links {
  display: block;
} */

/* >>> style for the link buttons */
.page_btn {
  background-color: green;
}
.page_btn a {
  text-decoration: none;
  color: black;
}

/* .page_btn:hover .area_links {
  display: block;
} */

.page_btn span {
  margin: 0 10px;
}

/* <<< nav-grid ///////////////////////////////////////////////////////////// */

/* >>> MEDIA QUERIES /////////////////////////////////////////////////////////*/
/* Bootstrap Extra small None <576px */
@media screen and (max-width: 576px) {
}

/* Bootstrap Small sm ≥576px */
@media screen and (min-width: 576px) {
}

/* Bootstrap Medium	md	≥768px */
@media screen and (min-width: 768px) {
}

/* Bootstrap Large lg ≥992px */
@media screen and (min-width: 992px) {
}

/* Bootstrap Extra large  xl ≥1200px */
@media screen and (min-width: 1200px) {
}

/* Bootstrap Extra extra large xxl ≥1400px */
@media screen and (min-width: 1400px) {
}
/* <<< MEDIA QUERIES /////////////////////////////////////////////////////////*/
