:root {

  /* colors */
--color-home:lightskyblue;
--color-about: orangered;
--color-certificates: limegreen;
--color-projects: dodgerblue;
--color-notes: peru;
--color-apps: DarkOrange;
--color-nav-image: moccasin;
--color-text-title: #5b4f3f;

}

h1,
p {
  font-family: 'Merienda', cursive;
  color: var(--color-text-title);
}
